<h1>Activities Index</h1>
<style>
    td, th {
        border: 1px solid black;
    }
</style>

<li><%=activity[0].Title%></li>
<li><%=activity[0].Description%></li>
<li><%=activity[0].Address%></li>

