<h1>Activities Index</h1>
<style>
    td, th {
        border: 1px solid black;
    }
</style>
<table>

    <tr>
        <th>Activity</th>
        <th>Description</th>
        <th>Start Time</th>
    </tr>
    <% activities.forEach(function(activity){ %>
        <tr>
            <td><%=activity.Title%></td>
            <td><%=activity.Description%></td>
            <td><%=activity.Address%></td>
        </tr>
        <%});%>
    </table>