<% include ./partials/header %>

<h2>Welcome to social workout</h2>

<div id='homejumbotron'>
  <div id='searchactivities'>
      <form method='GET'>
          <label for="city"><p>Where do you wanna workout?</p></label>
          <input id='mainsearch' class="form-control"type="text" name='city' placeholder='e.g. Miami, Dallas'>
      <input type="submit" class='btn btn-sm btn-primary'>
      </form>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
<div class='panel panel-default' id='homepageresult'>
<div class="panel-heading">Workouts near you:</div>
<ul class='list-group'>
      <% activities.forEach(function(activity){ %>
            <a href="/activity/<%=activity.ID%>">
              <li class='list-group-item'>
              <%=activity.Title%> at 
              <%=activity.City%> at 
              <%=activity.StartTime%>
            </li></a>
        </tr>
        <%});%>
      </ul>
</div>

<% include ./partials/footer %>