<h1>Social Workout API</h1>
<% include ./header %>

<p>Welcome to the social workout app homepage</p>

<ul>
    <li><a href="/activity/add">Add Activity</a></li>
    <li><a href="/activity">View Activities</a></li>
</ul>